@import url('https://fonts.googleapis.com/css2?family=Montserrat:400');


/* MAIN */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
}


/* NAVIGATION BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 1% 2%;
    background-color: rgb(80, 104, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    font-size: 19.5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
    transition: color 0.3s ease 0s;
}

header h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
}


.navbar a:hover {
    color:hsl(140, 100%, 80%);
}


.homePage .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
}

.favoritesPage .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
}

.supportPage .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
}


.searchBar {
    width: max-content;
    align-items: center;
    display: flex;
    padding: 5px;
    border: 4px solid hsl(227, 46%, 39%);
    background-color: white;
    border-radius: 15px;
}

.searchBar #searchBox {
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}

.searchBar .searchIcon {
    padding-left: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.searchBar #searchBox::placeholder {
    color: black;
}


main {
    margin-top: 10%;
    display: flex;
    padding-left: 2%;
}

.tile {
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 10px;
    max-width: 33%;
    box-shadow: ;
}

.tile i {
    float: right;
    padding-top: 2%;
}